
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="loggedIn">
    <mat-toolbar color="primary" class="example-toolbar">
      <button (click)="rotate()" [@rotatedState]='state' mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> 
      <h1 class="example-app-name m-2">Admin Healthcare System</h1>
      <span class="ms-auto" mat-icon-button *ngIf="loggedIn" (click)="logout()"><a mat-raised-button color="primary">Logout</a></span>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened> 
        <mat-nav-list class="px-2">
          <a class="p-4 border-primary border-top border-bottom" mat-list-item routerLink="/admin/provider-list" >Providers List</a> 
          <a class="p-4 border-primary border-top border-bottom" mat-list-item routerLink="/admin/payer-list" >Payer List</a>          
          <a class="p-4 border-primary border-top border-bottom" mat-list-item routerLink="/admin/payer-provider" >Assign Payer to Provider</a>          
        </mat-nav-list>
      </mat-sidenav>
      
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="!loggedIn">
    <mat-toolbar color="primary" class="example-toolbar">    
      <h1 class="example-app-name m-2">Admin Healthcare System</h1>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
  </div>