<mat-toolbar color="primary">
    <mat-icon *ngIf="loggedIn" class="m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" >menu</mat-icon>
    <span mat-icon-button><a mat-button routerLink="/dashboard">Auth App</a></span>
    <span class="example-spacer"></span>
    <span mat-icon-button *ngIf="!loggedIn"><a mat-button routerLink="/login">Login</a></span>
    <span mat-icon-button *ngIf="loggedIn" (click)="logout()"><a mat-button>Logout</a></span>
</mat-toolbar>
