<div class="container my-5" matRipple  [matRippleRadius]="10" [matRippleColor]="color">
    <div class="px-5 p-3 card">
        <div class="col-4">
            <h2 class="text-secondary">Selected Payer: {{payerName}}</h2>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-secondary" (click)="openDialog()">change</button>
        </div>
    </div>    
    <div class="p-5 card">
        <h1 class="text-primary strong">Download available service price list
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"   matTooltipPosition="right" matTooltip="Download a file add/remove new services and keep formating same.">
                <mat-icon>information</mat-icon>
            </button>
        </h1>
        <div class="d-flex align-items-center">
            <form [formGroup]="pricelistDownload" (ngSubmit)="download(pricelistDownload)">
                <button class="mx-5 p-3" type="submit" mat-raised-button color="primary">Download</button>
            </form>
            <button class="mx-5 p-3" (click)="downloadSample()" mat-raised-button color="accent">Sample File</button>    
        </div>        
        <br>
            <mat-error>{{downloadError}}</mat-error>   
        <hr>
        <h1 class="text-primary strong mt-3">Upload updated service price list
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"   matTooltipPosition="right" matTooltip="Upload the edited file of pricelist services here.">
                <mat-icon>information</mat-icon>
            </button>
        </h1>
        <form [formGroup]="pricelistUpload" enctype="multipart/form-data" (ngSubmit)="fileUpload(pricelistUpload)">            
            <input class="mx-5 p-3" formControlName="file" type="file" #file (change)="selectFile($event)">
            <button class="mx-5 p-3" type="submit" mat-raised-button color="primary" [disabled]="pricelistUpload.invalid">Submit</button>
            <br><mat-error>{{errorDescription}}</mat-error>
        </form>
    </div>
</div>
