<div *ngIf="loggedIn" class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" style="max-width: 300px;">
  <div class="offcanvas-header bg-primary" style="height: 70px;">
    <h2 class="offcanvas-title text-white" id="offcanvasWithBothOptionsLabel">Auth App</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills w-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button routerLink="/dashboard" class="nav-link border-primary border-top border-bottom" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-selected="false">Dashboard</button>
          <button routerLink="/authenticated" class="nav-link border-primary border-top border-bottom" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-selected="false">Authenticated</button>                   
        </div>      
      </div>
  </div>
</div>