
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="loggedIn">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name m-2">Healthcare System</h1>
      <span mat-icon-button *ngIf="loggedIn" (click)="logout()"><a mat-button>Logout</a></span>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened> 
        <mat-nav-list class="px-2">          
          <a class="p-4 border-primary border-top border-bottom" mat-list-item routerLink="/user/dashboard">Dashboard</a>
          <a *ngIf="roles" class="p-4 border-primary border-top border-bottom" mat-list-item routerLink="/user/payers">Associated Payers</a>
          <a *ngIf="roles" class="p-4 border-primary border-top border-bottom" mat-list-item routerLink="/user/pricelist">Pricelist</a>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="!loggedIn">
    <mat-toolbar color="primary" class="example-toolbar">    
      <h1 class="example-app-name m-2">Healthcare System</h1>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
  </div>